# Resume Job Postings

1. Extracting raw text from job postings

In [4]:
# Setup
import glob
import pandas as pd
from bs4 import BeautifulSoup as bs

In [12]:
# List of files in the html directory
files = glob.glob('./data/html_job_postings//*.html')
print('Number of HTML files: {}'.format(len(files)))

Number of HTML files: 1337

In [15]:
# Load all HTML pages as text into a list -- one entry per HTML page
html_content = []
for file in files:
    with open(file, 'r', encoding='utf-8') as f:
        html_content.append(f.read())

In [16]:
# Inspect the first entry of the list of resumes
html_content[0]

'<html><head><title>Data Engineer - Columbus, GA 31909</title></head>\n<body><h2>Data Engineer - Columbus, GA 31909</h2>\n<p>Celebrating its twenty-fifth anniversary in 2016, Cyient is an acknowledged leader in engineering design services, design-led manufacturing, networks and operations, data transformation, and analytics. We collaborate with our clients to help them achieve more and together shape a better future. We call it Designing Tomorrow Together.\n</p><p></p><p>Our industry focus includes aerospace, defense, rail transportation, off-highway &amp; industrial, power generation, mining, oil &amp; gas, communications, utilities, geospatial, semiconductor and medical technology. We align closely with the business needs, goals, culture, and core values of our clients. This reflects in the deep, long-standing relationships we have developed and sustained with some of the leading names in these industries.\n</p><p></p><p><b>LOCATION\n</b></p>Columbus,Georgia\n<p></p><p><b>JOB DESCRIPTION SUMMARY\n</b></p><p></p>Expertise in computational, quantitative, and algorithmic techniques applicable to data science. Performs data wrangling, ETL, and data exploration tasks. Data feature engineering to collect and structure to enhance modeling/analytical framework.\n<p><b>JOB DESCRIPTION\n</b></p><p>Provides expertise on computational, quantitative, and algorithmic techniques applicable to data science\n</p><p>Performs data wrangling, ETL, and data exploration tasks\n</p><p>Create and develop predictive models using AI/ML technologies, installing/monitoring the production performance of models.\n</p><p>Data feature engineering to collect and structure to enhance modeling/analytical framework.\n</p><p>Work closely with business analysts and engineers to deploy models in production both in real time and in batch process and systematically track model performance.\n</p><p>Participate in analysis of data stores and help with data analytics\n<br/>\nEnsure solutions developed adhere to security and data entitlements\n<br/>\nTranslate functional and technical requirements into detail design\n</p><p>Good communications, interpersonal skills &amp; Proactive.\n</p><p></p><p><b>Minimum Qualifications\n</b></p><ul><li>Bachelor’s or Master’s degree in statistics, operations research, computer science, physics or related discipline\n</li><li>2+ years of industry experience in a technical role, preferably in a data science capacity\n</li><li>Good knowledge of R or Python or Spark\n</li><li>Knowledge of the following: Generalized Linear and Non-Linear Models, Time Series Analysis, Random Forest, Gradient Boosted Machines, Neural Networks, Unsupervised Methods (Dimensionality Reduction, Clustering, etc.)\n</li><li>Experience querying relational data systems for ETL and data integration tasks\n</li><li>Good communications skills with ability to present to technical and business audiences\n</li><li>Experience using Spark/Hadoop systems for distributed analytics and data processing\n</li><li>Experience working in a cloud-computing environment such as AWS, Azure, GCP, etc</li></ul></body>\n</html>'

In [20]:
# Store webpage section with skills
html_sections = []
html_dict = {}

for key in ['title', 'body', 'bullets']:
    html_dict[key] = []

# Prototype with first page of the HTML list
first_page = html_content[0]
soup = bs(first_page, "html.parser")
# Get key parts
title = soup.find('title').text
body = soup.find('body').text
bullets = soup.find_all('li')
html_dict['title'].append(title)
html_dict['body'].append(body)
# Cleaning bullets content
html_dict['bullets'].append([b.text.strip() for b in bullets])

df = pd.DataFrame(data=html_dict)
df.head()

,title,body,bullets
0,"Data Engineer - Columbus, GA 31909","Data Engineer - Columbus, GA 31909\nCelebratin...","[Bachelor’s or Master’s degree in statistics, ..."

In [25]:
# Apply prototype in a general function
def get_html_content(html_content):
    """Extracts title, and list items from HTML job postings.
    Args:
        html_content (list): List of html resumes.
    Return:
        df: Returns a pandas dataframe with separate columns for title, body, and bullet items."""
    
    html_sections = []
    html_dict = {}
    for key in ['title', 'body', 'bullets']:
        html_dict[key] = []
    for html in html_content:
        soup = bs(html, "html.parser")
        title = soup.find('title').text
        body = soup.find('body').text
        bullets = soup.find_all('li')
        html_dict['title'].append(title)
        html_dict['body'].append(body)
        # remove extra leading and trailing whitespace with strip()
        html_dict['bullets'].append([b.text.strip() for b in bullets])
    
    df = pd.DataFrame(html_dict)
    return df

In [26]:
df = get_html_content(html_content)
df.head()

,title,body,bullets
0,"Data Engineer - Columbus, GA 31909","Data Engineer - Columbus, GA 31909\nCelebratin...","[Bachelor’s or Master’s degree in statistics, ..."
1,"Data Analyst - St. Louis, MO","Data Analyst - St. Louis, MO\nDuties\nSummary\...",[Job family (Series)\n1501 General Mathematics...
2,"Data Scientist - Newark, CA","Data Scientist - Newark, CA\nData Scientist\n\...","[Design, develop, document and maintain machin..."
3,Patient Care Assistant / PCA - Med/Surg (Fayet...,Patient Care Assistant / PCA - Med/Surg (Fayet...,[Provides all personal care services in accord...
4,"Scientific Programmer - Berkeley, CA","Scientific Programmer - Berkeley, CA\nCaribou ...","[Demonstrated proficiency with Python, JavaScr..."